@charset "UTF-8";

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

.main{
margin-top: 65px;
margin-left: 160px;
padding: 0px 10px;
float:left;

display: block;

background-color: #ececf9;
}


footer{
display: block;

background-color: #f0f0f5;

width: 100%;
position: relative;
margin-top: -150px;
height: 100px;
clear: both;

left: 0;
bottom: 0;
}
footer .footer{
	margin-left: 160px;
	
}


body{
	display: block;

}

.sidenav{
height: 100%;	
width: 160px;
position: fixed;
z-index: 1;
top:0;	
left:0;
background-color: #111;
overflow-x: hidden;
padding-top: 20px;
float:left;


z-index: 1;
position: absolute;
}

.sidenav a{
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 12px;
color: #818181;
display:block;
}
.sidenav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.topnav{
width: 100%;
background-color: #888;
overflow:hidden;
height: 60px;
left:0;
top: 0px;
z-index: 2;
position: absolute;

}

.topnav a{
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover{
background-color: #222;
}

























